<h1>Lógica de Programação e Análise de Dados em Python: 
    
Um Guia Inicial com ChatGPT</h1>

<b>Data:</b> Quarta-feira, 21 de Agosto de 2024

<b>Modalidade:</b> Remota

<b>Horário:</b> 14 às 16 h

<b>Carga Horária:</b> 2 h


<h3>Objetivos:</h3>
<ul>
<li>Introduzir os participantes à lógica de programação em Python.</li> 
<li>Trabalhar conceitos básicos de análise de dados.</li> 
<li>Demonstrar como usar o ChatGPT para resolver problemas e obter ajuda durante o desenvolvimento.</li> 
</ul>

<h3>Conteúdo:</h3>

<h4>Parte 1: Introdução à Lógica de Programação em Python (50 minutos)</h4>
<ol>
<li>Abertura e Introdução</li> 
<li>Conceitos Básicos de Programação</li> 
<li>Estruturas de Repetição</li> 
<li>Funções em Python</li> 
<li>Sessão de Perguntas Rápidas</li> 
</ol>

<h4>Parte 2: Introdução à Análise de Dados com Python (50 minutos)</h4>
<ol>
<li>Abertura da Sessão de Análise de Dados</li>  
<li>Manipulação de Dados com Pandas</li>  
<li>Introdução à Visualização de Dados</li>  
<li>Utilizando o ChatGPT para Resolução de Problemas</li>  
<li>Sessão de Perguntas Finais e Encerramento</li> 
</ol>

# Parte 1: Introdução à Lógica de Programação em Python

<img src="https://i.ytimg.com/vi/S3okwVkxDgA/maxresdefault.jpg" alt="Descrição da Imagem" width="400"/>

## <font color="blue">1.1 Abertura e Introdução</font>

### Operações Matemáticas no Python

1. Adição -> +
2. Subtração -> -
3. Divisão -> /
4. Multiplicação -> *
5. Mod (resto da divisão) -> %

In [1]:
#adição
print(3 + 5)

#subtração
print(5 - 3)

#divisão
print(5 / 3)

#multiplicação
print(5 * 3)

#mod (resto da divisão de 5 por 3)
print(5 % 3)

8
2
1.6666666666666667
15
2

### Operações Básicas com String

1. Concatenar -> +
2. Verificar se um texto está contido dentro do outro -> in

In [2]:
#Concatenar
print('O faturamento da loja foi ' + '1000')

#Verificar se um texto está dentro do outro
print('@' in 'emailcorporativo@gmail.com')

O faturamento da loja foi 1000
True

### Variável

variavel = valor

In [3]:
faturamento = 1500
custo = 500

lucro = faturamento - custo 

print(faturamento)
print(lucro)

1500
1000

### Pegar informações do Usuário

variavel = input('Texto para o Usuário')

In [5]:
#para cadastrar um cliente
cpf = input('Digite seu cpf (apenas números, sem pontos e traços)')
print('O cpf do cliente é ' + cpf)

Digite seu cpf (apenas números, sem pontos e traços)54168456
O cpf do cliente é 54168456

### Comparadores

==    igual
!=    diferente
>     maior que (>= maior ou igual)
<     menor que (<= menor ou igual)
in    texto existe dentro de outro texto 
not   verifica o contrário da comparação

Obs: Se em alguma condição você não quiser fazer nada, você pode simplesmente escrever:
pass

In [ ]:
faturamento_loja_1 = 2500
faturamento_loja_2 = 2200

print('Programa 1')
if faturamento_loja_1 == faturamento_loja_2:
    print('Os faturamentos são iguais')
else:
    print('Os faturamentos são diferentes')

In [ ]:
email = "chatgpt@gmail.com"

print('Programa 2')
if email != 'chatgpt@gmail.com':
    print('Esse não é o email do chatgpt')
else:
    print('Email correto')

In [ ]:
print('Programa 3')
email_usuario = input('Insira seu e-mail:')
if not '@bemol.com' in email_usuario:
    print('Email Inválido')
else:
    pass

## <font color="blue">Exercícios - Operações, Variáveis e Input</font>

# < Prompt >

<br>

Vamos trabalhar em Python. Primeiro, use o bloco abaixo para criar todas as variáveis necessárias:

Quantidade de Vendas de Coca = 150

Quantidade de Vendas de Pepsi = 130

Preço Unitário da Coca = 1,50 

Preço Unitário da Pepsi = 1,50

Custo da Loja: 2.500,00

# < Prompt >

Responda: Qual foi o faturamento de Pepsi da Loja?

# < Prompt >

Responda: Qual foi o faturamento de Coca da Loja?

# < Prompt >

Responda: Qual foi o Lucro da loja?

# < Prompt >

Responda: Qual foi a Margem da Loja? (Lembre-se, margem = Lucro / Faturamento). Expresse em percentual, formatando a saída do print.

## <font color="blue">Exercícios - Inputs e Strings</font>

# < Prompt >

A maioria das empresas trabalham com um Código para cada produto que possuem. A Companhia Drink, por exemplo, tem mais de 1.000 produtos e possui um código para cada produto.

Ex: 
Coca -> Código: BEB1300543<br>
Pepsi -> Código: BEB1300545<br>
Vinho Primitivo Lucarelli -> Código: BAC1546001<br>
Vodka Smirnoff -> Código: BAC17675002<br>

Repare que todas as bebidas não alcóolicas tem o início do Código "BEB" e todas as bebidas alcóolicas tem o início do código "BAC".

Crie um programa de consulta de bebida que, dado um código qualquer, identifique se a bebida é alcóolica. O programa deve responder True para bebidas alcóolicas e False para bebidas não alcóolicas. Para inserir um código, use um input do usuário e use apenas estruturas condicionais. 

Dica: Lembre-se do comando in para strings e sempre insira os códigos com letra maiúscula para facilitar.

## <font color="blue">1.2 Conceitos Básicos de Programação</font>

# Condições no Python -> If

## Estrutura:

### Uso mais simples:

if condição:
    o que fazer caso a condição seja verdadeira

## <font color="blue">Exercícios - If (condição verdadeira)</font>

# < Prompt >

Digamos que você trabalha na em uma loja e está analisando o resultado de vendas dos produtos.

Você precisa criar um programa que vai analisar o resultado de vendas dos produtos em um mês. Para simplificar vamos pensar em um único produto: um Iphone.

Meta de Vendas do Iphone = 50.000 unidades<br>
Quantidade vendida no Mês = 65.300 unidades

O seu programa deve avisar (usaremos o print por enquanto) caso o produto tenha batido a meta do mês. Então devemos fazer:<br>
- Caso o produto tenha batido a meta, devemos exibir a mensagem: "Batemos a meta de vendas de Iphone, vendemos {} unidades" 
- Se ele não bateu a meta do mês, o seu programa não deve fazer nada

### Tratando a condição falsa:

Quando usamos o if, nem sempre queremos apenas analisar o caso verdadeiro, em boa parte das vezes queremos fazer alguma coisa caso a condição seja verdadeira e fazer outra coisa caso a condição seja falsa.

Nesse caso usaremos:

if condição:
    o que eu quero fazer caso a condição seja verdadeira
else:
    o que eu quero fazer caso a condição seja falsa

## <font color="blue">Exercícios - If (condição falsa)</font>

# < Prompt >

Modificando um pouco o código anterior, agora nossa programa deve avisar nos 2 casos:
- Caso o produto tenha batido a meta, devemos exibir a mensagem: "Batemos a meta de vendas de Iphone, vendemos {} unidades" 
- Se ele não bateu a meta do mês, devemos exibir a mensagem: "Infelizmente não batemos a meta, vendemos {} unidades. A meta era de {} unidades"

# elif

E se temos mais do que um caso de sim e não?

E se tivermos 3 casos?

Usamos o elif da seguinte forma:

if condição:
    o que fazer se a condição 1 for verdadeira
elif condição_2:
    o que fazer se a condição 1 for falsa e a condição 2 for verdadeira
else:
    o que fazer se a condição 1 e a condição 2 forem falsas

# < Prompt >

Vamos criar um programa para analisar o bônus dos funcionários de uma empresa. Para os cargos de vendedores, a regra do bônus é de acordo com a meta de vendas da pessoa:

Se ela vendeu abaixo da meta dela, ela não ganha bônus.

Se ela vendeu acima da meta dela, ela ganha como bônus 3% do valor que ela vendeu.

Se ela vendeu mais do que o dobro da meta dela, ela ganha como bônus 7% do valor que ela vendeu.

Vamos criar um programa para avaliar uma pessoa que tinha como meta de vendas 20.000 reais e calcular o bônus dela de acordo com o valor de vendas que ela tiver. Use if, elif e else, sem funções.

## <font color="blue">Exercícios - Criando um mini sistema de controle de estoque</font>

# < Prompt >

- Crie um sistema para ser usado pelo time de controle de estoque de um centro de distribuição.
- Imagine que ao fim de todo dia, o time conta quantas unidades de produto existem no estoque. Se tivermos um estoque abaixo do estoque permitido para aquela categoria do produto, o time deve ser avisado (print) para fazer um novo pedido.
- Cada categoria de produto tem um estoque mínimo diferente, segundo a regra abaixo:

- alimentos -> Estoque mínimo: 50
- bebidas -> Estoque mínimo: 75
- limpeza -> Estoque mínimo: 30

Para isso vamos criar um programa que pede 3 inputs do usuário: nome do produto, categoria e quantidade atual em estoque.

Se o produto tiver abaixo do estoque mínimo da categoria dele, o programa deve printar a mensagem "Solicitar {produto} à equipe de compras, temos apenas {unidades} em estoque"

Exemplo: Se o usuário preenche os inputs com: bebidas, dolly, 90, o programa não deve exibir nenhuma mensagem.<br>
Agora, se o usuário preenche os inputs com: bebidas, guaraná, 60, o programa deve exibir a mensagem "Solicitar guaraná à equipe de compras, temos apenas 60 unidades em estoque.

Obs: lembre de usar o int() para transformar o número inserido pelo usuário no input de string para int.<br>
Obs2: Caso o usuário não preencha alguma das 3 informações, o programa deve exibir uma mensagem para avisá-lo de preencher corretamente.

## <font color="blue">1.3 Estruturas de Repetição</font>

### Estrutura de Repetição: for

for i in range(n):
    repetir código n vezes

In [ ]:
for i in range(5):
    print(i)

Imagine que você está construindo uma automação para enviar todo dia por e-mail um resumo da produção de uma fábrica. Construa um código que exiba a quantidade produzida de cada os produto nesse "e-mail".

In [ ]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

tamanho = len(produtos)
for i in range(tamanho):
    print('{} unidades produzidas de {}'.format(producao[i], produtos[i]))

## <font color="blue">Exercícios - Criando um Registro de Hóspedes</font>

# < Prompt >

Digamos que você está criando o sistema para registrar a chegada de hóspedes em um hotel. No hotel, os hóspedes podem ter quartos com 1, 2, 3 e 4 pessoas. Seu sistema deve conseguir:

1. Identificar quantas pessoas o hóspede que acabou de chegar vai ter no quarto (perguntando por meio de input)
2. De acordo com a quantidade de pessoas do hóspede, ele deve fazer um for para perguntar o cpf e o nome de cada pessoa, a fim de registrá-la no quarto (2 inputs para cada pessoa, 1 para o cpf e outro para o nome)
3. O seu programa então deve gerar uma lista com todas as pessoas que ficarão no quarto em que cada item dessa lista é o nome da pessoa e o cpf da pessoa.

quarto = [
    ['João', 'cpf:00000000000'],
    ['Julia', 'cpf:11111111111'],
    ['Marcus', 'cpf:22222222222'],
    ['Maria', 'cpf:33333333333'],
]

### Estrutura de Repetição: while

Usamos o while quando queremos repetir um código de forma indeterminada até uma condição se tornar verdadeira/falsa.

A lógica é: enquanto a condição for verdadeira, o while executa o código. Assim que ela terminar de ser verdadeira, o código "sai" do while.

while condicao:
    repete esse código

# < Prompt >

Crie um programa que funcione como o registro de vendas de uma empresa, usando a estrutura de repetição while. 

Nele, a pessoa deve inserir o nome do produto e o produto deve ser adicionado na lista de venda. Enquanto o usuário não encerrar o programa, significa que ele está registrando novos produtos, então o programa deve permitir e entrada de quantos produtos o usuário quiser.

# < Prompt >

Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.

## <font color="blue">1.4 Funções</font>

As functions são blocos de código que servem 1 único propósito, fazem uma ação específica.

def nome_funcao():
    faça alguma coisa
    faça outra coisa
    return valor_final

# < Prompt >

Vamos criar uma função de cadastro de um Produto. Essa função deve garantir que o produto cadastrado está em letra minúscula e sem caracteres especiais e/ou acentos. A entrada deve ser através de input do usuário.

## <font color="blue">Exercícios - Categorizando produtos</font>

# < Prompt >

Digamos que estamos criando um programa para categorizar os produtos de uma revendedora de bebidas.

Cada produto tem um código. O tipo de produto é dado pelas 3 primeiras letras do código.

Ex:<br>
Vinho -> BEB12302<br>
Cerveja -> BEB12043<br>
Vodka -> BEB34501<br>

Guaraná -> BSA11104<br>
Coca -> BSA54301<br>
Sprite -> BSA34012<br>
Água -> BSA09871<br>

Repare que bebidas não alcóolicas começam com BSA e bebidas alcoolicas começam com BEB.

Crie e execute uma função que analise uma lista de produtos e envie instruções para a equipe de estoque dizendo quais produtos devem ser enviados para a área de bebidas alcóolicas e quais devem ser enviados para o setor de bebidas NÃO alcoólicas.

lista_produtos = ['beb46275','TFA23962','TFA64715','TFA69555','TFA56743','BSA45510','TFA44968','CAR75448','CAR23596','CAR13490','BEB21365','BEB31623','BSA62419','BEB73344','TFA20079','BEB80694','BSA11769','BEB19495','TFA14792','TFA78043','BSA33484','BEB97471','BEB62362','TFA27311','TFA17715','BEB85146','BEB48898','BEB79496','CAR38417','TFA19947','TFA58799','CAR94811','BSA59251','BEB15385','BEB24213','BEB56262','BSA96915','CAR53454','BEB75073']

## <font color="blue">Exercícios - Clientes inadimplentes</font>

# < Prompt >

Crie uma função para descobrir os clientes inadimplentes de uma empresa.

- O objetivo é identificar quem são os clientes inadimplentes e enviar essa lista de clientes para o setor de cobrança poder fazer a cobrança dos clientes.
- Sua função deve então receber uma lista de clientes, analisar quais clientes estão inadimplentes, e retornar uma lista com os clientes inadimplentes e o valor devido. 
- A inadimplência nessa empresa é calculada da seguinte forma:
    1. Se o cliente tiver devendo mais de 1.000 reais por mais de 20 dias, ele é considerado inadimplente.
    2. Isso significa que caso ou cliente esteja devendo 2.000 reais a 10 dias, ele não é inadimplente, pois não se passaram 20 dias ainda. Da mesma forma, se ele estiver devendo 500 reais por 40 dias, ele também não é inadimplente, dado que ele deve menos de 1.000 reais.
    3. As informações vêm no formato (cpf, valor_devido, qtde de dias) da lista 'clientes_devedores', já presente no código.

In [ ]:
clientes_devedores = [('462.286.561-65',14405,24),('251.569.170-81',16027,1),('297.681.579-21',8177,28),('790.223.154-40',9585,10),('810.442.219-10',18826,29),('419.210.299-79',11421,15),('908.507.760-43',12445,24),('911.238.364-17',1345,4),('131.115.339-28',11625,8),('204.169.467-27',5364,22),('470.806.376-11',932,29),('938.608.980-69',13809,19),('554.684.165-26',11227,2),('119.225.846-34',4475,9),('358.890.858-95',13932,20),('786.547.940-70',17048,25),('468.487.741-94',2902,8),('540.685.100-32',5806,21),('379.729.796-80',7622,24),('980.173.363-94',13167,24),('833.285.374-56',19581,24),('103.669.436-50',17126,4),('386.836.124-46',18825,11),('588.404.964-15',1545,30),('600.556.177-18',1921,7),('670.346.230-99',18079,28),('771.352.915-13',16581,23),('430.314.324-46',13942,24),('629.507.759-51',17951,11),('348.683.225-73',12424,10),('406.133.151-17',5888,30),('310.985.894-64',17316,30),('964.317.132-30',18818,30),('845.331.524-14',14284,13),('781.995.738-18',19369,29),('921.558.128-63',3206,27),('941.386.982-65',10228,26),('551.135.290-10',18822,18),('537.124.578-35',12670,6),('119.383.169-76',790,20),('938.473.410-98',8851,5),('279.775.182-54',5212,20),('210.872.954-53',13569,8),('684.995.531-65',8649,21),('653.886.282-57',504,28),('973.580.738-53',2533,9),('285.864.892-85',8200,21),('777.154.423-98',10336,8),('769.786.401-34',3233,12),('521.566.565-97',11882,14),('491.799.681-92',653,8),('344.357.819-36',8856,18),('265.362.581-99',8962,8),('331.410.527-56',18516,18),('143.188.958-61',7234,29),('751.630.472-61',13552,6),('714.707.807-80',2898,7),('585.584.932-83',239,25),('165.554.107-13',9572,23),('718.225.984-87',10534,25),('611.715.653-32',3210,11),('397.994.286-79',13651,24),('967.160.575-69',8997,25),('369.750.998-94',13952,2),('767.400.554-79',18320,11),('171.104.286-74',5821,21),('152.817.649-24',3358,30),('645.308.846-62',15176,25),('273.884.570-92',4436,13),('888.818.341-45',15730,3),('577.836.712-40',14670,16),('513.529.919-95',4002,1),('201.476.809-95',17442,21),('657.816.571-87',1582,2),('810.494.975-87',2157,9),('531.749.410-17',12355,18),('486.290.887-24',18576,26),('432.376.642-62',8027,23),('207.274.437-91',5125,29),('634.244.673-72',11387,15),('346.871.172-72',8105,23),('166.330.605-50',7865,11),('829.181.731-94',2425,8),('197.305.464-63',9681,8),('887.877.706-59',15681,10),('847.598.885-51',323,23),('817.170.984-26',5169,27),('591.397.550-29',13362,25),('872.733.198-95',5756,18),('615.629.238-82',11678,23),('194.782.846-77',11044,17),('146.392.158-88',6848,4),('240.427.458-70',3906,25),('583.662.427-52',3306,5),('841.627.523-64',4778,4),('985.337.216-77',15308,4),('912.410.722-57',11683,6),('700.720.266-23',12638,21),('605.405.529-53',3831,3),('383.256.402-25',2599,10),('248.103.486-68',9121,1),('261.974.594-90',2139,26),('297.126.704-91',18529,16),('680.569.318-52',10176,23),('296.334.647-38',225,13),('200.761.898-70',16244,20),('258.232.687-17',19462,18),('597.295.672-38',18840,11),('894.479.102-52',11375,12),('556.156.341-36',16269,23),('987.874.553-86',11253,17),('248.927.998-94',6510,1),('852.796.660-25',2662,23),('741.370.204-36',9303,16),('536.714.951-95',2877,23),('320.395.830-44',14554,5),('520.645.562-80',17547,24),('553.700.674-28',3147,14),('913.525.896-32',17651,28),('750.456.495-86',11524,9),('246.171.748-38',15184,4),('760.248.897-67',4953,25),('920.890.990-46',17172,20),('805.469.913-50',17500,21),('878.594.225-48',6255,3),('356.715.924-36',3454,13),('847.150.802-96',8602,22),('625.846.640-53',10888,19),('539.300.108-41',11225,21),('549.151.467-76',1286,21),('738.451.908-29',18905,22),('987.288.834-69',17533,25),('898.532.296-94',9719,11),('620.531.607-13',13584,10),('169.415.202-43',1871,29),('757.885.355-97',18150,28),('252.581.376-21',2497,3),('177.937.460-78',7178,8),('523.895.611-54',9878,26),('883.680.201-23',16761,3),('936.678.268-71',11017,9),('871.912.703-73',1754,9),('957.749.478-56',6914,9),('725.636.354-80',8605,13),('898.316.244-33',14363,12),('894.748.325-28',2764,3),('647.106.954-60',1482,6),('628.716.937-98',14107,8),('332.677.483-83',19146,15),('186.870.928-82',17050,12),('216.248.879-71',4384,16),('287.929.269-44',4894,19),('278.335.932-42',17220,13),('824.107.287-13',11797,7),('535.354.954-30',9195,22),('311.762.241-12',13871,2),('209.759.133-88',13580,21),('505.728.766-53',16950,13),('879.471.988-23',17427,14),('772.329.947-39',3462,8),('321.123.241-10',2592,22),('407.342.963-78',11435,21),('786.935.637-47',14240,9),('461.791.351-55',142,2),('770.920.161-42',1247,24),('639.870.185-59',6430,10),('815.943.237-83',19550,22),('141.774.255-61',17866,13),('379.995.400-37',9503,29),('261.103.178-64',19167,13),('495.461.913-57',12265,29),('498.848.750-79',14549,16),('578.770.731-84',1462,5),('408.987.269-72',5647,28),('191.970.336-40',6313,15),('761.137.848-34',10654,23),('810.512.154-21',14928,1),('256.371.788-38',7085,2),('216.401.188-57',1531,23),('956.318.620-43',6327,22),('986.516.478-33',3866,25),('105.665.555-60',7118,4),('259.228.430-72',1601,8),('133.627.971-58',10142,14),('327.988.845-70',14985,23),('363.167.322-63',17236,7),('189.986.406-38',16888,18),('661.194.373-45',7824,1),('805.728.877-53',514,10),('887.826.412-21',15977,24),('122.975.174-32',9409,25),('456.550.370-55',19922,18),('388.243.133-66',19785,17),('208.788.890-61',11893,22),('881.332.662-49',6344,16),('912.349.944-52',6858,15),('534.904.583-32',9559,11),('825.175.334-25',19805,15),('339.191.298-46',13325,8),('569.993.915-78',4339,15)]

# Parte 2: Introdução à Análise de Dados com Python

<img src="https://curator-production.s3.us.cloud-object-storage.appdomain.cloud/uploads/md5-c51551ca9adbef53a15766cb93c7db9b-course_card.png" alt="Descrição da Imagem" width="400"/>

## Importando módulos e arquivos

### O que temos?

Temos os dados de 2019 de uma empresa de prestação de serviços. 

- CadastroFuncionarios
- CadastroClientes

Obs1: Para ler arquivos csv, temos o read_csv<br>
Obs2: Para ler arquivos xlsx (arquivos em excel normais, que não são padrão csv), temos o read_excel

In [11]:
import pandas as pd

funcionarios_df = pd.read_csv('https://raw.githubusercontent.com/ksddavila/treinamento_intro_python_chatgpt/main/CadastroFuncionarios.csv', sep=';', decimal=',')
clientes_df = pd.read_csv('https://raw.githubusercontent.com/ksddavila/treinamento_intro_python_chatgpt/main/CadastroClientes.csv', sep=';', decimal=',')

display(funcionarios_df)
display(clientes_df)

     ID Funcionário Estado Civil           Nome Completo  Salario Base  ...   VT      VR       Cargo            Area
0                 1            C        Gabriel Mesquita         21910  ...  242  719.04     Diretor       Operações
1                 2            C             João Haddad          5404  ...  154  574.56  Estagiário       Logística
2                 3            C  Amanda Marques Ribeiro         16066  ...  154  729.12  Estagiário  Administrativo
3                 4            C         Guilherme Nunez         21305  ...  220  524.16    Analista  Administrativo
4                 5            C           Adelino Gomes          5098  ...  176  725.76    Analista  Administrativo
..              ...          ...                     ...           ...  ...  ...     ...         ...             ...
109             143            C   Renan Scharnhorst Ott         10793  ...  242  514.08    Analista       Logística
110             144            S      Lucas Brum Pereira          4048  ...  198  796.32  Estagiário       Comercial
111             148            S            Caio Stellet         24596  ...  242  561.12    Analista  Administrativo
112             149            C          Fernanda Rocha          5078  ...  308  665.28  Estagiário       Comercial
113             150            C            Eduardo Brum         15939  ...  220  769.44    Analista       Comercial

[114 rows x 10 columns]

     ID Cliente             Cliente  Valor Contrato Mensal
0             1  Teixeira Gonçalves                    540
1             2        Souza Santos                   1260
2             3        Emídio Alves                   3195
3             4        Santos Costa                   2520
4             5         Do Monteiro                   3510
..          ...                 ...                    ...
315         316        Manoel Costa                   3690
316         317       Gomes Machado                   2385
317         318    Alkindar Cardozo                   3510
318         319     Pereira Fazenda                   4185
319         320   Americo Damasceno                   2430

[320 rows x 3 columns]

## 2.1 Folha de pagamento

# < Prompt >

Em Python, temos os dados de 2019 de uma empresa de prestação de serviços, com os seguintes dataframes:

- CadastroFuncionarios --> Dataframe: funcionarios_df
- CadastroClientes --> Dataframe: clientes_df

Quero saber: Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? 

<br>

* Use o dataframe 'funcionarios_df';
* Some as colunas que compõem o salário para gerar a coluna 'Salario Total': 'Salario Base' + 'Impostos' + 'Beneficios' + 'VT' + 'VR'
* Faça um gráfico de barras que exiba o valor de 'Salario Total' para cada 'Area'. 
* Some o valor total da coluna 'Salario Total' e exiba um print com o Valor Total da Folha Salarial.

## 2.2 Funcionários por área

# < Prompt >

Preciso saber a contagem de funcionários por área nessa empresa. Para isso, use funcionarios_df:
- Conte a quantidade de 'ID Funcionário' distintos para cada 'Area';
- Plote um gráfico de barras para visualizar o resultado. 
- Exiba esse resultado também em um dataframe.

## 2.3 Ticket médio mensal

# < Prompt >

Calcule o ticket médio mensal a partir do Dataframe: clientes_df, utilizando a coluna 'Valor Contrato Mensal'. Exiba a saída em reais e duas casas decimais.